html {
    overflow-x: scroll;
}

body {
    background: rgb(249,226,202);
    background: linear-gradient(180deg, rgba(249,226,202,1) 0%, rgba(250,218,231,1) 100%);
}

.timeline_containter {
    margin-left: 130px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.timeline_title {
    width: 100vw;
}

.timeline_title h2{
    color: white;
    position: fixed;
    padding: 25px;
}

.timeline {
    height: 100%;
    padding: 25px;
    overflow-x: scroll;
}

.line_top, .line_bottom {
    height: 50%;
    display: flex;  
    overflow-x: scroll;  
    width: 5000px;
}

.line_top {
    border-bottom: 3px solid white;
    align-items: flex-end;
    
}

.line_bottom {
    border-top: 3px solid white;
}

.timeline_box {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 150px;
}

.top {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    z-index: 99;
}

.bottom {
    position: absolute;
    bottom: 50%;
    margin-bottom: -10px;
    z-index: 99;
}

.timeline_piece {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    height: 20px;
}

.circle i {
    font-size: 10px;
    color: rgb(51, 51, 51);
    text-align: center;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
}   

.line {
    height: 20px;
    width: 5px;
    background-color: white;
}

.timeline_text {
    color: rgb(51, 51, 51);
    font-size: 1vw;
    padding: 5px;
}
